*{
  box-sizing: border-box;
  overflow: auto;
  font-family: Arial, cursive;

}
body {
  overflow: auto;
  background-color: black;
  color: gold;
  font-weight:normal;
  }

header {
  font-size: 40px;
}

nav {
  display: flex;
  justify-content:flex-end;
  font-size: 18px;
  transition: font-size 4s 1s;
}
h1 {
  font-size:40px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 17px;
  font-weight: bold;
}
section {
  overflow: auto;
  margin-left: 5rem;
}

footer {
background-image: url("../images/footerImage.jpg");
height: 100%;
width: 100%;
}

fieldset {
  display:inline-block;
  background-color: lightblue;
  color: black;
}
.form-inline label {
  margin: 5px 10px 5px 0;
}
input[type=submit] {
       background-color: blue;
       color: white;
     }
input[type=submit]:active {
       border-color: white;
     }
input {
     width: 150px;
     margin: 0;
     box-sizing:content-box;
     display:block
     }
label {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
