*{
  box-sizing: border-box;
  overflow: auto;
  font-family: Arial, cursive;

}
body {
  overflow: auto;
  background-color: #03a3df;
  color: white;
  font-weight:normal;
  }

header {
  font-size: 40px;
}

nav {
  display: flex;
  justify-content:flex-end;
  font-size: 18px;
  transition: font-size 4s 1s;
}
h1 {
  font-size:40px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 17px;
  font-weight: bold;
}
section {
  overflow: auto;
  margin-left: 5rem;
}

footer {
background-image: url('/web/images/footerimage.jpg');
height: 100%;
width: 100%;
}
