*{
  box-sizing: border-box;
  overflow: auto;
}
body {
  overflow: auto;
  background-color: #03a3df;
  color: white;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: Arial, cursive;
  }

header {
  font-size: 40px;
}
.header-logo {

}
nav {
  display: flex;
  justify-content:flex-end;
  font-size: 18px;
  transition: font-size 4s 1s;
}

nav:hover {
  font-size: 36px;
}
h1 {
  font-size:40px;
}
h2 {
  color: white;
}
section {
  overflow: auto;
  margin-left: 5rem;
}

footer {
background-image: url('/web/images/footerimage.jpg');
height: 100%;
width: 100%;
}
